services:
  app:
    build: .
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ./prisma:/app/prisma
    environment:
      - DATABASE_URL=file:/app/prisma/dev.db
      - JWT_SECRET=CHANGE_THIS_SECRET_IN_PRODUCTION_!!!!
